@{
    ViewBag.Title = "Inicio";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/js/popper.min.js"></script>
<script src="~/js/sweetalert2.min.js"></script>
<link href="~/css/sweetalert2.min.css" rel="stylesheet" />
<link href="~/css/estilos2.css" rel="stylesheet" />
<link href="~/css/estilos3.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<main>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text-center msg">
        <br><br>
        <h1 class="display-4 mt-4 " style="padding-right: 1400px;padding-top:40px; font-family: fantasy; ">PIZZAS Y BEBIDAS</h1>  <!--850px: Pantalla pequeña-->
        <p class="lead" style="padding-right: 1400px; padding-top: 10px;">Delivery todo San Juan de Miraflores</p>
    </div>

    <div class="container" id="lista-productos">
        <!-- todo el producto ven aqui -->
    </div>
</main>

<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/sweetalert2.min.js"></script>
<script src="~/js/carrito.js"></script>
<script src="~/js/pedido.js"></script>